.form-outline-signin {
    border-radius: 50% 6% / 10% 40%;
}

.fields-signin {
    border: 1px;
    border-radius: 50% 6% / 10% 40%;
    padding: 7px;
    width: 100%;
    text-align: center;
    font-family: "posterable";
    font-size: 25px;
}

.highlight-text-signin {
    padding: 10px;
    text-align: center;
    font-family: "posterable";
    font-size: 22px;
}