.three-cards {
    display: flex;
    justify-content: space-between;
}

.before-pic {
    gap: 10px;
}

.card-picture-1-c {
    background-color: rgb(197, 189, 189);
    height: 100px;
    width: 100px;
    border-radius: 20%;
}

.card-picture-2-c {
    background-color: rgb(197, 189, 189);
    width: 300px;
    height: 300px;
    border-radius: 20%;
    display: flex;
    align-items: center;
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-chat {
    border: none;
    padding: 30px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.table-chat {
    border-collapse: separate;
    border-radius: 30px;
    border: none;
}

.tr-chat {
}

.th-chat {
    font-family: "memories";
    color: white;
    font-size: 40px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    width: 33.33%;
    background-color: #FF9CB6;
    border: none;
    border-radius: 30px;

}

.td-chat:hover {
    background-color: #eaaaf1;
    border-radius: 80% 30% / 80% 30%;
    color: #480ced;
}

.td-chat-clicked {
    background-color: #eaaaf1;
    border-radius: 80% 30% / 80% 30%;
    color: #480ced;
}

.td-chat {
    font-size: 30px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    width: 33.33%;
    border: none;
    color: #480ced;
    font-family: "gedean";
}

.button-chat-text {
    font-family: "gedean";
    background-color: #eaaaf1;
    font-size: 23px;
    color: #480ced;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: none;
    width: 200px;
    height: 50px;
}

.button-chat-text:hover {
    color: #eaaaf1;
    background-color: #480ced;
}

/* 
#7D4FFE
#C49FFF
#FFD0E6
#FF9CB6
#F08488
*/

.no-chat {
    background: repeating-linear-gradient(50deg, #F08488, #7D4FFE);
    opacity: 75%;
    border: none;
    font-family: "memories";
    color: #FFD0E6;
    font-size: 30px;
    padding-top: 200px;
    text-align: center;
    vertical-align: middle;
}

.no-chat-up {
    background: repeating-linear-gradient(50deg, #F08488, #7D4FFE);
    opacity: 75%;
    border: none;
    font-family: "memories";
    color: #FFD0E6;
    padding-top: 40px;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
}

.corpus-bubble {
  
}

.historic-texts {
    width: 100%;
    height: 200px;
    overflow-y: scroll;
    /* overflow-x: hidden; */
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    gap: 10px;
}

/* .historic-texts::-webkit-scrollbar {
    width: 8px;
}

.historic-texts::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.historic-texts::-webkit-scrollbar-thumb:hover {
    background: #555;
} */

.bubble-me {
    color: cornflowerblue;

}

.bubble-its {
    color: olivedrab;
}

.bubble-to-chat {
    display: flex;
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    margin: 0 10px;
}

.textearea-bubble {
    width: 100%;
    border-radius: 20px;
    border: none;
    resize: none;
    /* background-color: #FFD0E6; */
}

.btn-chat {
    display: flex;
    position: absolute;
    bottom: 5px;
    font-family: "gedean";
    background-color: #eaaaf1;
    font-size: 23px;
    color: #480ced;
    border-radius: 50px;
    border: none;
}

.btn-send {
    margin-right: -400px;
}

