.navbar-brand {
    font-family: "city mango";
    font-size: 60px;
    color:#FF9CB6;
}

.navbar-brand:hover {
    color:#FF9CB6;
}

.navbar {
    background: linear-gradient(to bottom left, #FF9CB6, #480ced);
}

.nav {
    font-size: 22px;
}

.btn-navbar {
    font-family: "memories";
    padding: 10px;
    text-decoration: none;
    border: 2px solid #C49FFF;
    margin: 4px;
    border-radius: 50px;
    color: #FF9CB6;
    font-size: 21px;
}

.btn-navbar:hover {
    color: #eaaaf1;
    background-color: #480ced;
}