.navbar-brand {
    font-family: "citymango";
    font-size: 60px;
    color:#ec5219;
}

.navbar-brand:hover {
    color:#ff9966;
}

.navbar {
    background: linear-gradient(to bottom left,  #e9460b, #232a69);
}

.nav {
    font-size: 22px;
}

.btn-navbar {
    font-family: "memories";
    padding: 10px;
    text-decoration: none;
    border: 2px solid #FDF6F0;
    margin: 4px;
    border-radius: 50px;
    color: #FDF6F0;
    font-size: 21px;
}

.btn-navbar:hover {
    color: #FDF6F0;
    background-color: #ff6b35;
}