@keyframes battement {
    to {
      box-shadow: 0 0 0 30px rgba(24, 151, 51, 0);
    }
}

.coeur {
    text-align: center;
    padding: 12px 24px;
    width: 80px;
    height: 70px;
    color: #fff;
    border-radius: 15px;
    font-size: 30px;
    border: none;
    background: #ed8080;
    box-shadow: 0 0 0 0 rgba(255, 71, 84, .7);
    animation: battement 2s infinite cubic-bezier(.66, 0, 0, 1);
}

.firstname {
  font-size: 40px;
  font-family: "posterable";
  color: #480ced;
}

.main-fields {
  font-size: 30px;
  font-family: "memories";
  color: #7D4FFE;
  padding: 10px;
}

.text-up {
  color: #FFD0E6;
  font-size: 30px;
  text-indent: 90px;
  font-family: "gedean";
  /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif */
}
