@keyframes battement {
    to {
      box-shadow: 0 0 0 30px rgba(255, 71, 84, 0);
    }
}

.coeur {
    text-align: center;
    padding: 12px 24px;
    color: #fff;
    border-radius: 5px;
    background: #F34D4D;
    box-shadow: 0 0 0 0 rgba(255, 71, 84, .7);
    animation: battement 2s infinite cubic-bezier(.66, 0, 0, 1);
    text-decoration: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  font-family: "posterable";
  color: rgb(255, 115, 9);
}

.modal-content h2 {
  margin-top: 0;
}

.modal-content button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background-color: rgb(255, 115, 9);
  color: rgb(255, 255, 255);
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: hsl(0, 0%, 100%);
}
