@font-face {
    font-family: 'trukin';
    src: url('keep-on-truckin.regular.ttf') format('truetype');
}
.gradient-custom {
    background: #f093fb;
    min-height: 100vh;
    background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));
    background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.bigBox {
    width: 100%;
    padding: 20px;
}

.us .row, .vertical {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.vertical {
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}


.highlight-text {
    padding: 10px;
    text-align: center;
    font-family: trukin;
    color: rgba(129, 13, 142, 0.681);
    font-size: 22px;
}

.form-outline-settings {
    background-color:#eaaaf1;
    border-radius: 50% 3% / 10% 40%;
}

.fields-settings {
    border: 1px;
    background-color: rgb(252, 83, 156);
    border-radius: 50% 3% / 10% 40%;
    padding: 7px;
    width: 100%;
    text-align: center;
    font-family: trukin;
    font-size: 25px;
    color: rgba(129, 13, 142, 0.681);
}

.highlight-text-settings {
    padding: 10px;
    text-align: center;
    font-family: trukin;
    color: rgba(129, 13, 142, 0.681);
    font-size: 22px;
}