.bigBox {
    width: 100%;
    padding: 20px;
}

.us .row, .vertical {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.vertical {
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}


.highlight-text {
    padding: 10px;
    text-align: center;
    font-family: "posterable";
    color: rgba(129, 13, 142, 0.681);
    font-size: 22px;
}

.form-outline-settings {
    border-radius: 50% 3% / 10% 40%;
}

.fields-settings {
    border: 1px;
    border-radius: 50% 3% / 10% 40%;
    padding: 7px;
    width: 100%;
    text-align: center;
    font-family: "posterable";
    font-size: 25px;
}

.highlight-text-settings {
    padding: 10px;
    text-align: center;
    font-family: "posterable";
    font-size: 22px;
}