.gradient-custom {
    background: #f093fb;
    min-height: 100vh;
    background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));
    background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.highlight-text {
    position: relative;
    padding: 10px;
    z-index: 1;
}

.highlight-text::before {
    content: '';
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    z-index: -1;
    height: 20px;
    background: rgba(240, 147, 251, 0.5);
    transform: rotate(-3deg);
    border-radius: 30px;
    width: 90%;
    margin-left: -7.5%;
}

@font-face {
    font-family: 'trukin';
    src: url('keep-on-truckin.regular.ttf') format('truetype');
}

.fields {
    border: 1px;
    border-color: rgba(240, 147, 251, 0.5);
    background-color: rgb(252, 83, 106);
    border-radius: 50% 20% / 10% 40%;
    padding: 7px;
    width: 100px;
    font-family: trukin;
}