/* 

#7D4FFE
#C49FFF
#FFD0E6
#FF9CB6
#F08488

*/

.form-card {
  background-color: #FFD0E6;
}

.fields {
    background-color: #FF9CB6;
    color: #7D4FFE;
}

.high {
  color: #FF9CB6;
}

.gradient-custom {
  background: #f093fb;
  min-height: 100vh;
  background: -webkit-linear-gradient(to bottom right, #7D4FFE, #FF9CB6);
  background: linear-gradient(to bottom right, #7D4FFE, #FF9CB6);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

h1 {
  color: #FF9CB6;
  font-family: "posterable";
}


.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
  }

.card-registration .select-arrow {
  top: 13px;
}

.card {
  background-color: #C49FFF;
}

.btn {
  font-family: "posterable";
  background-color: #FF9CB6;
  color: #F08488;
}

.btn:hover {
  color: #F08488;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  white-space: nowrap;
}

.sidenav-transitioning {
  visibility: hidden;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  padding: 14px;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 140px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-right .5s;
  margin: 0;
  padding: 0;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 2;
}