.gradient-custom-error {
    min-height: 100vh;
    background: -webkit-linear-gradient(to bottom right, #480ced, #FF9CB6);
    background: linear-gradient(to bottom right, #480ced, #FF9CB6);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px;
    font-size: 25px;
}

.letters {
    color: #FF9CB6;
}