.title {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: "citymango";
    font-size: 90px;
    color: #ec5219;
    margin-bottom: 20px;
}

.bubble-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
  }
  
  .bubble {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 150px;
    padding: 60px;
    margin: 10px;
    border-radius: 90px;
    box-shadow: 0 4px 5px rgba(39, 18, 49, 0.1);
  }
  
  p {
    margin: 0;
    padding: 0;
  }
  
  .bubble.left {
    align-self: flex-start;
    background-color: #ff784d;
    color: #FDF6F0;
  }
  
  .bubble.right {
    align-self: flex-end;    
    background-color: #ff6b35;
    color: #FDF6F0;
  }
